//backgound
$dark-blue: #0F172A;
$bg-input: #222F43;
$bg-box-item: #131C31;

//text
$blue-white: #E6F0FF;
$blue-title: #B9E0F2;
$blue-text-primary: #94A9C4;
$blue-text-second: #7F92B0;

//text gradient
$text-light-blue: #0EA7E9;
$text-light-blue-pastel: #0BCFD2;